html, body {
  height: 100%;
  width: 100%;
}


rect {
stroke: black;
  stroke-width: 15px;
  fill: red;
  transition: all 2000ms;
}




rect:hover {
stroke: #2e2e2e;
  stroke-width: 20px;
  fill: #ff5252;
}



  .bar {
    width: 25px;
    height: 100px;
    /* Add your code below this line */
    margin: 2px;
    
    /* Add your code above this line */
    display: inline-block;
    background-color: blue;
  }